Repository Mossop/pixelbin: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

coverage:
  range: "80...100"
  status:
    project:
      default: off
      server:
        informational: true
        target: auto
        flags:
          - server
        paths:
          - !api/tests/
      server-tests:
        informational: true
        target: auto
        flags:
          - server
        paths:
          - api/tests/
      client:
        informational: true
        target: auto
        flags:
          - client
        paths:
          - app/js/
      client-tests:
        informational: true
        target: auto
        flags:
          - client
        paths:
          - app/tests/
    patch: off

flags:
  server:
    paths:
      - api/
  client:
    paths:
      - app/

Fix exception types.
  app/js/api/types.ts
Due: client

Add a bunch of test helpers and tests for albums and catalogs.
  .pylintrc
  api/models.py
  api/tests/__init__.py
  api/tests/test_albums.py
  api/tests/test_catalogs.py
  api/tests/test_tags.py
  api/views/__init__.py
  api/views/album.py
  api/views/catalog.py
  api/views/media.py
  api/views/tag.py
Due: server

Use random test data.
  api/tests/__init__.py
  api/tests/test_albums.py
  api/tests/test_catalogs.py
  api/tests/test_tags.py
  requirements.txt
Due: server

Add person tests.
  api/models.py
  api/tests/test_people.py
Due: server

Improve database model validation and add initial model test.
  api/metadata.py
  api/migrations/0001_initial.py
  api/models.py
  api/tests/test_media.py
  api/utils.py
  rebuild_db.sh
Due: server

Extends the use of validators.
  api/migrations/0001_initial.py
  api/models.py
  api/serializers/person.py
  api/tests/test_people.py
  api/utils.py
  api/views/person.py
  app/js/api/highlevel.ts
  app/js/api/person.ts
  app/js/api/types.ts
Due: server, client

Remove unneeded validation checks in views.
  api/views/album.py
  api/views/media.py
  api/views/tag.py
Due: server

Improvements to the test client and more media tests.
  api/serializers/wrappers.py
  api/tests/__init__.py
  api/tests/test_albums.py
  api/tests/test_catalogs.py
  api/tests/test_media.py
  api/tests/test_people.py
  api/tests/test_tags.py
  api/utils.py
  api/views/__init__.py
Due: server

Test media uploading.
  api/apps.py
  api/celery.py
  api/metadata.py
  api/tasks.py
  api/tests/__init__.py
  api/tests/test_media.py
  api/views/media.py
Due: server

Ignore DS_Store files.
  .gitignore
Due: none

Fix migrations.
  api/migrations/0001_initial.py
Due: server

Correct ignores and add test data.
  .gitignore
  api/tests/data/iptc.jpg
Due: server

Install needed packages for server tests.
  .github/workflows/commit.yml
Due: none

Fix and test updating media files.
  api/celery.py
  api/metadata.py
  api/migrations/0001_initial.py
  api/serializers/media.py
  api/tasks.py
  api/tests/data/lamppost.jpg
  api/tests/test_media.py
  config/settings.py
Due: server

Add basic tests for thumbnails.
  api/tests/__init__.py
  api/tests/test_media.py
Due: server

Test adding and remove media from albums.
  api/tasks.py
  api/tests/test_albums.py
  api/views/album.py
  api/views/media.py
  api/views/person.py
  api/views/tag.py
  api/views/user.py
Due: server

Ignore erroneous errors.
  api/apps.py
Due: server

Collect code coverage from buildtypes and migrations.
  .coveragerc
  .github/workflows/commit.yml
  codecov.yml
Due: none

Turn off admin
  api/admin.py
Due: server

Allow using JSON instead of multipart requests.
  api/serializers/media.py
  api/tests/test_media.py
  api/tests/test_tags.py
  api/views/__init__.py
  api/views/media.py
  app/js/api/types.ts
Due: server, client

Form submit button should be a submit button.
  app/js/components/FormSubmit.tsx
Due: client

Use id's as part of the request urls and fixes for the app code.
  api/management/commands/buildtypes.py
  api/serializers/wrappers.py
  api/tests/test_albums.py
  api/tests/test_media.py
  api/tests/test_tags.py
  api/urls.py
  app/js/api/album.ts
  app/js/api/auth.ts
  app/js/api/catalog.ts
  app/js/api/helpers.ts
  app/js/api/highlevel.ts
  app/js/api/media.ts
  app/js/api/metadata.ts
  app/js/api/person.ts
  app/js/api/tag.ts
  app/js/api/types.ts
  app/js/app.tsx
  app/js/page.ts
  app/js/store/index.ts
  app/js/store/reducer.ts
  app/js/utils/navigation.ts
  app/tests/store/init.ts
Due: server, client

Add a few more navigation tests and some test helpers.
  app/js/api/highlevel.ts
  app/js/store/reducer.ts
  app/js/utils/exception.ts
  app/js/utils/maps.ts
  app/tests/store/init.ts
  app/tests/utils.tsx
  app/tests/utils/navigation.ts
Due: client

Test navigation states.
  app/js/api/highlevel.ts
  app/js/utils/history.ts
  app/js/utils/navigation.ts
  app/tests/utils.tsx
  app/tests/utils/navigation.ts
Due: client

Don't collect coverage on test only files.
  .coveragerc
  jest.config.js
Due: none

Create a set of test helpers.
  app/tests/helpers/dom.tsx
  app/tests/helpers/index.ts
  app/tests/helpers/store.ts
  app/tests/store/actions.ts
  app/tests/utils.tsx
  app/tests/utils/conditions.tsx
  app/tests/utils/navigation.ts
  jest.config.js
Due: client

Add an error page that catches all exceptions while rendering.
  app/js/pages/error.tsx
  app/js/pages/index.tsx
  app/static/app/l10n/en-US.txt
  package-lock.json
  package.json
Due: client

Move the main app into its own module.
  app/js/app.tsx
  app/js/bootstrap.tsx
  gulpfile.ts
Due: client

Update to support new fluent version.
  app/js/api/helpers.ts
  app/js/api/highlevel.ts
  app/js/api/metadata.ts
  app/js/bootstrap.tsx
  app/js/components/Button.tsx
  app/js/components/FieldLabel.tsx
  app/js/components/FormSubmit.tsx
  app/js/components/FormTitle.tsx
  app/js/components/Overlay.tsx
  app/js/components/Selectbox.tsx
  app/js/l10n/index.tsx
  app/js/utils/exception.ts
Due: client

Add tests for the Localized component.
  app/js/l10n/Localized.tsx
  app/js/l10n/index.tsx
  app/tests/helpers/index.ts
  app/tests/l10n.tsx
Due: client

Move things around to make mocking easier.
  api/urls.py
  app/js/.eslintrc.js
  app/js/api/helpers.ts
  app/js/api/metadata.ts
  app/js/bootstrap.tsx
  app/js/environment/document.ts
  app/js/environment/fetch.ts
  app/js/environment/window.ts
  app/js/l10n/LocalizationContext.tsx
  app/js/l10n/index.tsx
  app/js/overlays/index.tsx
  app/js/page.ts
  app/js/utils/helpers.ts
  app/js/utils/history.ts
  app/js/utils/metadata.ts
  app/templates/app/index.html
  app/urls.py
  gulpfile.ts
  package-lock.json
Due: server, client

Avoid DOM specific Headers API.
  app/js/api/helpers.ts
Due: client

Add tests for the album API methods.
  api/serializers/media.py
  app/js/api/helpers.ts
  app/js/api/highlevel.ts
  app/js/api/media.ts
  app/js/api/metadata.ts
  app/js/api/types.ts
  app/js/components/MediaList.tsx
  app/js/components/MediaThumbnail.tsx
  app/js/utils/exception.ts
  app/tests/api/album.ts
  app/tests/helpers/api.ts
  app/tests/helpers/store.ts
  tsconfig.json
Due: server, client

Break file info out into a separate table.
  api/metadata.py
  api/migrations/0001_initial.py
  api/models.py
  api/serializers/media.py
  api/tasks.py
  api/tests/test_media.py
  api/views/media.py
  app/js/api/media.ts
  app/js/api/types.ts
  app/tests/api/album.ts
  app/tests/helpers/api.ts
Due: server, client

Test auth API calls.
  api/views/user.py
  app/js/api/types.ts
  app/js/utils/exception.ts
  app/tests/api/album.ts
  app/tests/api/auth.ts
  app/tests/helpers/api.ts
  app/tests/helpers/index.ts
  app/tests/l10n.tsx
Due: server, client

Attempt to use codecov carryforward flags.
  .github/workflows/commit.yml
  codecov.yml
Due: none

Customize the coverage configuration.
  codecov.yml
Due: none

Add catalog API test.
  app/tests/api/catalog.ts
Due: client

Add highlevel API tests.
  api/management/commands/buildtypes.py
  app/js/api/helpers.ts
  app/js/api/highlevel.ts
  app/js/api/metadata.ts
  app/js/api/types.ts
  app/js/components/MediaContainer.tsx
  app/js/environment/fetch.ts
  app/js/overlays/upload.tsx
  app/js/utils/decoders.ts
  app/js/utils/metadata.ts
  app/tests/api/album.ts
  app/tests/api/highlevel.ts
  app/tests/api/media.ts
  app/tests/api/person.ts
  app/tests/api/tag.ts
  app/tests/helpers/api.ts
  app/tests/helpers/index.ts
  jest.config.js
  package-lock.json
  package.json
Due: server, client
