Repository Mossop/pixelbin: changes, and which Codecov flags are due for each by the changed paths.
All: app, api

codecov.yml:

coverage:
  range: 70..100
  precision: 1
  status:
    project:
      default: false
      app:
        target: auto
        flags:
          - app
      api:
        target: auto
        flags:
          - api

flags:
  app:
    paths:
      - app
    carryforward: true
  api:
    paths:
      - api
    carryforward: true

More API test coverage.
  app/js/api/highlevel.ts
  app/js/overlays/album.tsx
  app/js/overlays/upload.tsx
  app/tests/api/highlevel.ts
  app/tests/api/media.ts
  jest.config.js
Due: app

Automatically update the history when the state changes.
  app/js/bootstrap.tsx
  app/js/pages/types.ts
  app/js/store/reducer.ts
  app/js/utils/helpers.ts
  app/js/utils/history.ts
  app/js/utils/navigation.ts
  app/tests/api/album.ts
  app/tests/api/auth.ts
  app/tests/api/catalog.ts
  app/tests/api/highlevel.ts
  app/tests/api/media.ts
  app/tests/api/person.ts
  app/tests/api/tag.ts
  app/tests/helpers/store.ts
  app/tests/l10n.tsx
  app/tests/store/actions.ts
  app/tests/store/authReducer.ts
  jest.config.js
Due: app

Structures returned from the API should be immutable.
  api/management/commands/buildtypes.py
  api/serializers/interface.py
  api/serializers/typedefs.py
  api/views/media.py
  app/js/api/highlevel.ts
  app/js/api/media.ts
  app/js/api/metadata.ts
  app/js/api/tag.ts
  app/js/api/types.ts
  app/js/components/MediaList.tsx
  app/js/components/SiteTree.tsx
  app/js/store/reducer.ts
  app/js/store/types.ts
  app/js/utils/decoders.ts
  app/js/utils/maps.ts
  app/js/utils/navigation.ts
  app/tests/helpers/store.ts
Due: app, api

Add history navigation tests.
  app/js/store/reducer.ts
  app/js/utils/helpers.ts
  app/js/utils/history.ts
  app/js/utils/navigation.ts
  app/tests/store/authReducer.ts
  app/tests/store/ui.ts
  app/tests/utils/navigation.ts
Due: app

Remove unused functions.
  app/js/utils/decoders.ts
  app/js/utils/maps.ts
Due: app

Fix lint issue
  app/js/utils/decoders.ts
Due: app

Improve some helpers and more context tests.
  app/js/context/index.ts
  app/tests/api/media.ts
  app/tests/helpers/api.ts
  app/tests/utils/context.ts
Due: app

Improve file storage and add tests.
  api/media.py
  api/models.py
  api/storage/backblaze.py
  api/storage/base.py
  api/storage/models.py
  api/storage/server.py
  api/tasks.py
  api/tests/__init__.py
  api/tests/test_storage.py
  api/views/media.py
Due: api

Reimplement the storage systems and fill out the backblaze backend. Fixes #5.
  api/storage/backblaze.py
  api/storage/base.py
  api/storage/models.py
  api/storage/server.py
  api/tests/test_storage.py
  requirements.txt
Due: api

Add dev requirements file and fix lint issues.
  .github/workflows/commit.yml
  api/models.py
  api/utils.py
  requirements.txt
  requirements_dev.txt
Due: api

Fix CI.
  .github/workflows/commit.yml
Due: none

Switch to use VSCode's container support for testing.
  .devcontainer/app/Dockerfile
  .devcontainer/celery/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .env
  .gitignore
  api/migrations/0001_initial.py
  app/js/environment/url.ts
  app/js/environment/window.ts
  app/templates/app/index.html
  build_test_containers.sh
  config/config.ini
  dbshell.sh
  docker-compose.yml
  docker.ini
  docker/celery/Dockerfile
  docker/celery/start
  docker/server/Dockerfile
  docker/server/start
  gulpfile.ts
  rebuild_db.sh
  start_db.sh
  test.sh
Due: app, api

Put server storage into the media directory.
  api/storage/server.py
  api/tests/__init__.py
  api/tests/test_storage.py
  rebuild_db.sh
Due: api

Add more extensions to test container.
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  gulpfile.ts
  package.json
Due: none

Add helper tests.
  app/js/utils/helpers.ts
  app/tests/utils/helpers.ts
Due: app

Switch back to local development and test containers.
  .devcontainer/devcontainer.json
  .gitignore
  api/migrations/0001_initial.py
  config/config.ini
  containers/api/Dockerfile
  containers/build.sh
  containers/celery/Dockerfile
  containers/docker-compose.yml
  containers/rebuild_db.sh
  containers/remove.sh
  containers/runserver.sh
  containers/start.sh
  containers/test.sh
  rebuild_db.sh
Due: api

Add exception and prop tests.
  app/js/utils/props.ts
  app/tests/utils/exception.ts
  app/tests/utils/props.ts
Due: app

History tests.
  app/tests/helpers/dom.tsx
  app/tests/utils/history.ts
  jest.config.js
  package-lock.json
  package.json
Due: app

Add request data tests.
  api/serializers/typedefs.py
  app/js/api/helpers.ts
  app/js/api/types.ts
  app/tests/api/requestdata.ts
Due: app, api

Remove unused code.
  app/js/utils/InputState.ts
Due: app

Make scripts error out when the container is not running.
  containers/rebuild_db.sh
  containers/runserver.sh
  containers/test.sh
Due: none

Fix lint issues.
  .eslintignore
  api/tests/__init__.py
  gulpfile.ts
Due: api

Add state proxy tests.
  app/js/utils/StateProxy.ts
  app/tests/utils/StateProxy.ts
Due: app

Add base page test.
  app/js/components/Banner.tsx
  app/js/components/Sidebar.tsx
  app/js/overlays/index.tsx
  app/js/pages/index.tsx
  app/js/store/index.ts
  app/js/store/reducer.ts
  app/js/store/types.ts
  app/js/utils/navigation.ts
  app/tests/helpers/index.ts
  app/tests/helpers/store.ts
  app/tests/pages/index.tsx
  app/tests/store/authReducer.ts
  app/tests/store/init.ts
  app/tests/store/ui.ts
  app/tests/utils/navigation.ts
Due: app

Add various tasks.
  .vscode/tasks.json
Due: none

Index page test.
  app/js/overlays/index.tsx
  app/js/pages/BasePage.tsx
  app/js/store/reducer.ts
  app/js/store/types.ts
  app/js/utils/navigation.ts
  app/tests/pages/index.tsx
  app/tests/pages/indexpage.tsx
  app/tests/store/authReducer.ts
  app/tests/store/ui.ts
  app/tests/utils/navigation.ts
Due: app

Move tests.
  app/js/api/album.test.ts
  app/js/api/auth.test.ts
  app/js/api/catalog.test.ts
  app/js/api/helpers.test.ts
  app/js/api/highlevel.test.ts
  app/js/api/media.test.ts
  app/js/api/person.test.ts
  app/js/api/tag.test.ts
  app/js/context/index.test.ts
  app/js/l10n/Localized.test.tsx
  app/js/pages/index.test.tsx
  app/js/pages/indexpage.test.tsx
  app/js/store/index.test.ts
  app/js/store/reducer.auth.test.ts
  app/js/store/reducer.test.ts
  app/js/test-helpers/api.ts
  app/js/test-helpers/dom.tsx
  app/js/test-helpers/index.ts
  app/js/test-helpers/store.ts
  app/js/utils/Conditions.test.tsx
  app/js/utils/StateProxy.test.ts
  app/js/utils/exception.test.ts
  app/js/utils/helpers.test.ts
  app/js/utils/history.test.ts
  app/js/utils/navigation.test.ts
  app/js/utils/props.test.ts
  app/tests/.eslintrc.js
  app/tests/store/ui.ts
  jest.config.js
Due: app

Stop re-exporting types.
  app/js/components/Link.tsx
  app/js/components/MediaList.tsx
  app/js/components/MediaThumbnail.tsx
  app/js/components/Sidebar.tsx
  app/js/components/SiteTree.tsx
  app/js/overlays/album.tsx
  app/js/overlays/index.tsx
  app/js/overlays/upload.tsx
  app/js/pages/BasePage.tsx
  app/js/pages/album.tsx
  app/js/pages/catalog.tsx
  app/js/pages/index.tsx
  app/js/store/dispatch.ts
  app/js/store/index.ts
  app/js/store/reducer.auth.test.ts
  app/js/store/reducer.ts
  app/js/store/types.ts
  app/js/test-helpers/store.ts
  app/js/utils/Conditions.tsx
  app/js/utils/component.ts
  app/js/utils/helpers.ts
  app/js/utils/navigation.test.ts
  app/js/utils/navigation.ts
Due: app

Button tests.
  .vscode/tasks.json
  app/js/components/Button.test.tsx
  app/js/l10n/__mocks__/Localized.tsx
  app/js/test-helpers/dom.tsx
Due: app

Add banner tests.
  app/js/api/__mocks__/request.ts
  app/js/api/album.ts
  app/js/api/auth.ts
  app/js/api/catalog.ts
  app/js/api/media.ts
  app/js/api/person.ts
  app/js/api/request.ts
  app/js/api/tag.ts
  app/js/components/Banner.test.tsx
  app/js/components/Button.test.tsx
  app/js/components/Button.tsx
  app/js/components/Sidebar.tsx
  app/js/components/SiteTree.tsx
  app/js/components/__mocks__/Button.tsx
  app/js/l10n/__mocks__/Localized.tsx
  app/js/store/reducer.auth.test.ts
  app/js/store/reducer.test.ts
  app/js/test-helpers/dom.tsx
  app/js/test-helpers/index.ts
  app/js/test-helpers/store.ts
  app/js/utils/helpers.test.ts
  app/js/utils/navigation.test.ts
Due: app

Add link test.
  app/js/components/Link.test.tsx
  app/js/components/Link.tsx
Due: app

Metadata tests.
  app/js/utils/metadata.test.ts
  app/js/utils/metadata.ts
Due: app

Add textbox test.
  .vscode/tasks.json
  app/js/components/Textbox.test.tsx
  app/js/components/Textbox.tsx
  app/js/test-helpers/dom.tsx
Due: app

Add textarea test.
  app/js/components/Textarea.test.tsx
  app/js/test-helpers/dom.tsx
Due: app

Add selectbox tests.
  app/js/components/Selectbox.test.tsx
  app/js/test-helpers/dom.tsx
Due: app

Ignore coverage in test helpers.
  jest.config.js
Due: none

Add form tests.
  app/js/components/Form.test.tsx
  app/js/components/Selectbox.tsx
Due: app

Ensure authentication for certain pages.
  app/js/pages/BasePage.tsx
  app/js/pages/album.tsx
  app/js/pages/catalog.tsx
  app/js/pages/index.test.tsx
  app/js/pages/index.tsx
  app/js/pages/user.tsx
Due: app
