Repository Mossop/pixelbin: changes, and which Codecov flags are due for each by the changed paths.
All: app, api

codecov.yml:

coverage:
  range: 70..100
  precision: 1
  status:
    project:
      default: false
      app:
        target: auto
        flags:
          - app
      api:
        target: auto
        flags:
          - api

flags:
  app:
    paths:
      - app
    carryforward: true
  api:
    paths:
      - api
    carryforward: true

Add album tests.
  app/js/components/__mocks__/Banner.tsx
  app/js/pages/album.test.tsx
  app/js/pages/album.tsx
  app/js/test-helpers/store.ts
Due: app

Remove state from album page.
  app/js/pages/album.tsx
Due: app

Add catalog page test.
  app/js/pages/catalog.test.tsx
Due: app

Add overlay tests.
  app/js/components/Overlay.test.tsx
  app/js/components/Overlay.tsx
Due: app

Add site tree tests.
  app/js/components/Sidebar.test.tsx
  app/js/components/SiteTree.test.tsx
  app/js/components/SiteTree.tsx
  app/js/components/__mocks__/Button.tsx
Due: app

Login overlay tests.
  app/js/components/Textarea.test.tsx
  app/js/components/Textbox.test.tsx
  app/js/overlays/login.test.tsx
  app/js/test-helpers/dom.tsx
  app/js/test-helpers/index.ts
Due: app

Correct module case.
  app/js/overlays/login.test.tsx
Due: app

Add signup tests.
  app/js/overlays/signup.test.tsx
  app/js/overlays/signup.tsx
  app/js/test-helpers/dom.tsx
  app/js/test-helpers/index.ts
Due: app

Add overlay display tests.
  app/js/overlays/index.test.tsx
  app/js/pages/index.test.tsx
Due: app

Add album overlay tests.
  app/js/overlays/album.test.tsx
  app/js/overlays/album.tsx
  app/js/overlays/login.test.tsx
  app/js/overlays/signup.test.tsx
  app/js/test-helpers/index.ts
Due: app

Use dynamic localization rather than mocking Localized.
  app/js/components/Button.test.tsx
  app/js/components/Form.test.tsx
  app/js/components/Overlay.test.tsx
  app/js/components/Sidebar.test.tsx
  app/js/components/SiteTree.test.tsx
  app/js/l10n/LocalizationContext.tsx
  app/js/l10n/__mocks__/Localized.tsx
  app/js/overlays/album.test.tsx
  app/js/overlays/login.test.tsx
  app/js/overlays/signup.test.tsx
  app/js/test-helpers/dom.tsx
Due: app

Add a basic test for LocalizationContext.
  app/js/bootstrap.tsx
  app/js/l10n/LocalizationContext.test.tsx
  app/js/l10n/LocalizationContext.tsx
  app/js/overlays/album.test.tsx
  app/js/overlays/login.test.tsx
  app/js/overlays/signup.test.tsx
  app/js/test-helpers/index.ts
Due: app

Add catalog create test.
  app/js/overlays/catalog.test.tsx
  app/js/test-helpers/index.ts
Due: app

Add garbage collected classes.
  app/js/utils/gc.test.ts
  app/js/utils/gc.ts
Due: app

Upgrade all packages and fix new lint issues.
  app/js/overlays/upload.tsx
  app/js/utils/metadata.test.ts
  package-lock.json
  package.json
Due: app

Update ts config to cover anything not excluded.
  tsconfig.json
Due: none

Add karma test suite configuration.
  .github/workflows/commit.yml
  .vscode/tasks.json
  codecov.yml
  jest.config.js
  karma.conf.js
  package-lock.json
  package.json
Due: none

Add an Image handling class.
  app/js/utils/helpers.ts
  app/js/utils/image.karma.ts
  app/js/utils/image.ts
  karma.conf.js
  package-lock.json
  package.json
Due: app

Switch CI scripts to plain JS for speed.
  ci/eslint.js
  ci/eslint.ts
  ci/pylint.js
  ci/types.ts
  ci/typescript.js
  ci/utils.js
  ci/utils.ts
  gulpfile.js
Due: none

Switch to calling webpack directly.
  babel.config.json
  gulpfile.js
  package-lock.json
  package.json
  webpack.config.js
Due: none

Drop watch support for now.
  gulpfile.js
Due: none

Call node-sass directly.
  ci/utils.js
  gulpfile.js
  package-lock.json
  package.json
  webpack.config.js
Due: none

Migrate lint tasks.
  .eslintrc.js
  ci/eslint.js
  ci/pylint.js
  ci/types.ts
  ci/typescript.js
  ci/utils.js
  gulpfile.js
  package-lock.json
  package.json
  tsconfig.json
Due: none

Run all JS tests through gulp and attempt to fix coverage data.
  .github/workflows/commit.yml
  app/js/utils/image.ts
  ci/jest-reporter.js
  ci/jest.js
  ci/karma.js
  ci/types.ts
  ci/utils.js
  codecov.yml
  gulpfile.js
  jest.config.js
  karma.conf.js
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.js
Due: app

Upgrade node in CI.
  .github/workflows/commit.yml
Due: none

Fix workflow.
  .github/workflows/commit.yml
Due: none

Try to fix CI.
  .github/workflows/commit.yml
  webpack.config.js
Due: none

Test auth API.
  api/migrations/0001_initial.py
  api/serializers/user.py
  api/tests/__init__.py
  api/tests/test_user.py
  api/views/user.py
  containers/test.sh
Due: api

Make lint task fail when issues are found. Fixes #30.
  api/tests/__init__.py
  api/tests/test_user.py
  api/views/user.py
  ci/eslint.js
  ci/pylint.js
  ci/typescript.js
  ci/utils.js
  gulpfile.js
  package-lock.json
  package.json
Due: api

Add initial typings.
  .github/workflows/commit.yml
  .gitignore
  api/metadata.py
  api/migrations/0001_initial.py
  api/models.py
  api/search.py
  api/serializers/__init__.py
  api/serializers/interface.py
  api/storage/backblaze.py
  api/utils.py
  config/settings.py
  mypy.ini
  requirements_dev.txt
Due: api

Check python typings during lint.
  ci/eslint.js
  ci/mypy.js
  ci/pylint.js
  gulpfile.js
Due: none

Add types to models.
  api/migrations/0001_initial.py
  api/models.py
  api/models/__init__.py
  api/models/base.py
  api/models/catalog.py
  api/models/media.py
  api/models/user.py
  containers/rebuild_db.sh
Due: api

Upgrade pip and allow overriding the python interpretter.
  containers/api/Dockerfile
  containers/celery/Dockerfile
  containers/rebuild_db.sh
  containers/runserver.sh
  containers/test.sh
Due: none

Only rebuild migrations if there are changes.
  containers/rebuild_db.sh
Due: none

Add types to constraints.
  api/constraints.py
Due: api

Add types throughout python code.
  api/celery.py
  api/locks.py
  api/management/commands/buildtypes.py
  api/media.py
  api/metadata.py
  api/models/__init__.py
  api/models/catalog.py
  api/models/media.py
  api/serializers/__init__.py
  api/serializers/catalog.py
  api/serializers/interface.py
  api/serializers/media.py
  api/serializers/state.py
  api/serializers/typedefs.py
  api/serializers/user.py
  api/serializers/wrappers.py
  api/storage/backblaze.py
  api/storage/base.py
  api/storage/models.py
  api/storage/server.py
  api/tasks.py
  api/utils.py
  api/views/__init__.py
  api/views/album.py
  api/views/catalog.py
  api/views/media.py
  api/views/person.py
  api/views/tag.py
Due: api

Fix incorrect module reference.
  package-lock.json
  package.json
Due: none

Move configurations around to support a monorepo like setup.
  .eslintrc.js
  .gitignore
  app/jest.config.js
  app/js/.babelrc.json
  app/tsconfig.json
  babel.config.json
  ci/jest.js
  gulpfile.js
  package-lock.json
  package.json
  tsconfig.base.json
  tsconfig.json
Due: app

Add initial RCP mechanisms.
  .eslintrc.js
  gulpfile.js
  server/.babelrc.json
  server/index.ts
  server/jest.config.js
  server/master/index.ts
  server/server/index.ts
  server/shared/defer.ts
  server/shared/ipc/ipc.ts
  server/shared/ipc/master.ts
  server/shared/ipc/meta.ts
  server/shared/ipc/pool.ts
  server/shared/ipc/rpc.test.ts
  server/shared/ipc/rpc.ts
  server/shared/ipc/worker.ts
  server/tsconfig.json
Due: none
